.fish-tank-container {
  width: 100%;
  text-align: center;
}

.circular-border {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px dashed #5b5b5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.circular-border:hover {
  border-color: #1ca3ec;
  cursor: pointer;
}

.image-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paramter-list {
  color: #999999;
}
